@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: 'DXS Futura Inline';
    src: url('../fonts/dxs-futura-inline_bigfontsite.com.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

/*font-family: 'LP Horizont Caps Regular';*/

/* NAVBAR */
.navbar-nav {
    font-family: 'Poppins', sans-serif;
}

.nav-item .nav-link:hover {

    color: white;
}
.sticky-top {
    background-color: white;
}

.navbar-brand {
    padding-left: 10px;
}

@media (min-width: 768px) {
    .search {
        padding-right: 150px; 
    }
}


