@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'DXS Futura Inline';
    src: url('../fonts/dxs-futura-inline_bigfontsite.com.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'FuturaBQ';
    src: url('../fonts/FuturaBQ-DemiBold.otf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

body .index {
    background: #0b162f;
}

/*font-family: 'LP Horizont Caps Regular';*/

/* NAVBAR */
.navbar-nav {
    font-family: 'Poppins', sans-serif;
}

.nav-item .nav-link:hover {

    color: white;
}
.sticky-top {
    background-color: white;
}

.navbar-brand {
    padding-left: 10px;
}

@media (min-width: 768px) {
    .search {
        padding-right: 290px; 
    }
}


/* HEADER */
.contenedor{
    position: relative;
    display: inline-block;
    text-align:left;
    background: #0b162f;
}

.texto-encima{
    background-color: rgba(0, 0, 0, 0.87);
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .texto-encima{
        background-color: rgba(0, 0, 0, 0.61);
        font-family: 'Poppins', sans-serif;
        padding: 10px;
        color: white;
    }
}

@media (max-width: 368px) {
    .texto-encima{
        visibility:hidden;
    }
}

/* TITTLE & SUBTITTLE */
.redtittle {
    background-color: #213874;
    border-radius: 5px;
    padding-bottom: 5px;
    color: white;
}

hr {
    color: #cc1c4a; 
}

.container .tittle {
    font-family: 'FuturaBQ';
    font-size: 70px;
}

.container .tittleprin p {
    font-family: 'FuturaBQ';
}

.tittleprin img {
    position: absolute;
    width: 25%;
    right: 10px;
    top: 780px;
}

@media screen and (max-width: 768px) {
    .tittleprin img{
        visibility: hidden;
    }
}

@media screen and (max-width: 368px) {
    .tittleprin img{
        visibility: hidden;
    }
}

.container hr {
    height: 10px;
    background: white;
    width: 900px;
}

@media screen and (max-width: 768px) {
    .container hr{
        width: 240px;
    }
}

@media screen and (max-width: 368px) {
    .container hr{
        width: 100px;
    }
}

/* video */

.videocentral {
    margin-top: 20px;
    padding: 10 500;
}

/* Socials */
footer {
    background-color: white;
    padding: 20px;
}
.social {
    background-color: white;
    padding-bottom: 5px;
    border-radius: 5px;
}

.socials:hover {
    border-radius: 5px;
    padding-bottom: 5px;
    background-color: white;
}



/* ################## CSS PAGES ###################### */

/* ######## NEWSLETTER ############ */
.newsletter {
    font-family: 'FuturaBQ';
}

.mc img {
    border-radius: 7px;
}
.newsletterp 
{
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px) {
    .mc .votos img{
        padding-right:70px;
        border-radius: 7px;
    }


}

@media screen and (max-width: 368px) {
    .mc .votos img{
        padding-right: 90px ;
    }

    .votacionImg a img{
        padding-right: 90px;
    }
}

.clearfixCard {
    padding-left:30px;
    font-family: 'Poppins', sans-serif;

}


/* ######## NOTICIAS ############ */

.noticard {
    text-decoration: none;
    color: black;
}

.noticard:hover {
    color: #cc1c4a;
}

.noticiasRB .tittlecard {
    font-family: 'FuturaBQ';
    font-size: 20px;
}

.subtittlecard {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.notiHeader {
    padding-left: 10px;
    padding-right: 10px;
    
}

/* ######## ARTISTAS ######## */

.tittleMC {
    font-family: 'FuturaBQ';
    text-decoration: underline;
    cursor: pointer;
}

.tittleMC:hover {
    color: #cc1c4a;
}

.headerMC {
    text-align:center;
}

.artistasCard {
    text-align:center;
    font-size: 30px;
    font-family: 'FuturaBQ';
}

.smallCard {
    font-family: 'Poppins', sans-serif;
}

/* ######## EVENTOS ######## */

.subtittleMC {
    font-family: 'Poppins', sans-serif;
}

.tittleMCs {
    font-family: 'FuturaBQ';
    text-decoration: underline;
    padding-top: 30px;
} 

.eventMCs {
    font-family: 'FuturaBQ';
}


